<div class="body-div">
  <div class="title-div">
    <h2 class="title-pregunta">Fin del juego!</h2>
  </div>
  <div>
    <p class="text-pregunta <%= @answer.color%>"><%= @answer.value_to_s %></p>
  </div>
  <div>
    <% if !@answer.value%>
      <p class="text-pregunta">
        La respuesta correcta era: <%= @answer.question.correct_answer.to_s%>
      </p>
    <% end %>
    <p class="text-pregunta">
      <%= @answer.question.reason %>
    </p>
  </div>
  <div>
    <p class="text-pregunta"><%= "Puntaje: #{@game.score}" %></p>
  </div>
  <div class="back-main">
    <%= link_to 'Volver al menu principal', '/', class: "button back-main-button"%>
  </div>
</div>





