<div class="body-div">
  <div class="title-div">
    <h2 class="title-pregunta <%= @answer.color%>"> <%= @answer.value_to_s %> </h2>
  </div>
  <div>
    <% if !@answer.value%>
      <p class="text-pregunta">
        La respuesta correcta era: <%= @answer.question.correct_answer.to_s%> <%= link_to audio_icon, play_audio_path(text: @answer.question.correct_answer.to_s), remote: true %>
      </p>
    <% end %>
    <p class="text-pregunta">
      <%= @answer.question.reason %> <%= link_to audio_icon, play_audio_path(text: @answer.question.reason), remote: true %>
    </p>
  </div>
  <div>
  <p class="text-pregunta">
    <%= "Puntaje: #{@game.score}" %>
  </p>
  </div>
  <div class="buttons">
    <%= link_to 'Proxima pregunta', next_round_path(game: @game, offset: @offset), class: "button button-config" %>
  </div>
  <div class="back-main">
    <%= link_to 'Abandonar partida', '/', class: "button back-main-button", data: {confirm: 'Estás seguro?'}%>
  </div>
</div>



