<div>
  <%= @answer.value_to_s %>
</div>

<div>
  <%= @answer.reason %>
</div>

<%= "Puntaje: #{@game.score}" %>

<div>
  <%= link_to 'Proxima pregunta', next_round_path(game: @game, offset: @offset) %>
</div>

<div>
  <%= link_to 'Volver al menu principal', '/'%>
</div>