<div class="body-div">
  <div class="title-div">
    <h2 class="title-pregunta">Bienvenidos</h2>
  </div>
  <p class="descripcion"> 
    Este es un juego de preguntas y respuestas sobre como actuar frente a una inundaci칩n.
  </p>
  <p class="title-pregunta"> Instrucciones: </p>
  <div class="instrucciones">
    <% description = 'En cada pregunta aparecer치n 4 posibles respuestas, las cuales son todas incorrectas salvo una. 
      Debes elegir una respuesta, y se te informar치 si era correcta o no. 
      Las respuestas correctas suman 1 punto, mientras que las incorrectas no suman nada.
      Al cabo de 5 preguntas, se termina la partida.'%>
    <p class="descripcion">
      <%= description %>
      <%= link_to audio_icon, play_audio_path(text: description), remote: true %>
    </p>
  </div>
  <div class="buttons">
    <%= link_to 'Jugar', '/game', class: "button button-play"%> 
    <%= link_to 'Puntajes', '/scores', class: "button button-play"%>
    <%= link_to 'Configuraci칩n', '/configuration', class: "button button-config" %>
  </div>
</div>