<% first_answer = game.questions[offset].answers.first%>
<% second_answer = game.questions[offset].answers.second%>
<% third_answer = game.questions[offset].answers.third%>
<% fourth_answer = game.questions[offset].answers.fourth%>

<div class="body-div">
    <div class="title-div">
      <h2 class="title-pregunta">Pregunta:</h2>
    </div>
    <div>
      <p class="text-pregunta"> <%= game.questions[offset] %> </p>
    </div>
    <div class="buttons">
      <%= link_to first_answer, answer_path(first_answer, offset: offset + 1, game: game.id), class: "button-options button"%> 
      <%= link_to second_answer, answer_path(second_answer, offset: offset + 1, game: game.id), class: "button-options button"%> 
      <%= link_to third_answer, answer_path(third_answer, offset: offset + 1, game: game.id), class: "button-options button"%> 
      <%= link_to fourth_answer, answer_path(fourth_answer, offset: offset + 1, game: game.id), class: "button-options button"%>
    </div>
</div>

<div>
  <%= link_to 'Volver al menu principal', '/'%>
</div>

