<% answers = game.questions[offset].answers.shuffle %>
<% first_answer = answers.first%>
<% second_answer = answers.second%>
<% third_answer = answers.third%>
<% fourth_answer = answers.fourth%>

<div class="body-div">
    <div class="title-div">
      <h2 class="title-pregunta">Pregunta:</h2>
    </div>
    <div>
      <p class="text-pregunta"> <%= game.questions[offset] %> <%= link_to audio_icon, play_audio_path(text: game.questions[offset].to_s), remote: true %>  </p>
      
    </div>
    <div class="buttons">
      <div class='answer'>
        <%= link_to first_answer, answer_path(first_answer, offset: offset + 1, game: game.id), class: "button-options button1 button"%> 
        <%= link_to audio_icon, play_audio_path(text: first_answer.to_s), remote: true %>      
      </div>
      <div class='answer'>
        <%= link_to second_answer, answer_path(second_answer, offset: offset + 1, game: game.id), class: "button-options button2 button"%> 
        <%= link_to audio_icon, play_audio_path(text: second_answer.to_s), remote: true %> 
      </div>
      <div class='answer'>
        <%= link_to third_answer, answer_path(third_answer, offset: offset + 1, game: game.id), class: "button-options button3 button"%> 
        <%= link_to audio_icon, play_audio_path(text: third_answer.to_s), remote: true %> 
      </div>
      <div class='answer'>
        <%= link_to fourth_answer, answer_path(fourth_answer, offset: offset + 1, game: game.id), class: "button-options button4 button"%>
        <%= link_to audio_icon, play_audio_path(text: fourth_answer.to_s), remote: true %> 
      </div>
    </div>

    

    <p class="text-pregunta"> Puntaje: <%= game.score%> </p>
    <div class="back-main">
      <%= link_to 'Abandonar partida', '/', class: "button back-main-button", data: {confirm: 'Estás seguro?'}%>
    </div>
</div>



